<h1>
	Think Happy Thoughts :)
</h1>

<!-- <div data-role="header" data-theme="a"> 
	<h1>Happy Thoughts</h1> 
	<div data-role="navbar">
      	<ul>
			<li><a href="/home" 	data-icon="home">Home</a></li>
			<li><a href="/create" 	data-icon="arrow-r">Create</a></li>
			<li><a href="/profile" 	data-icon="user">Profile</a></li>
			<li><a href="/friends" 	data-icon="comment">Friends</a></li>
			<li><a href="/logout" 	data-icon="lock">Friends</a></li>
        </ul>
  </div>
</div>  -->