


<section id="home"> 
<!-- <div id="content-slider-wrapper" class="row"> -->


<div id="content-slider-wrapper" class="container">
	<img class="img-responsive row" src="images/slider-bg.png">
		<input type="range" name="slider-fill" id="slider-fill" value="50" min="0" max="100" data-highlight="true">
</div>
<div id="video-wrapper" class="container">
	<iframe class="row" width="854px" height="510px" src="//www.youtube.com/embed/zaGUr6wzyT8" frameborder="0" allowfullscreen></iframe>
	<div class="ui-grid-a">
		<div class="ui-block-a"><button type="button"> Dislike </button></div>
		<div class="ui-block-b"><button type="button"> Like </button></div>
	</div><!-- /grid-a -->
		
    	

</div><!-- /.row -->  




<hr />

<h1>Section 2 </h1> 

<div>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum </div> 


</section>