
<h1>Happy Thoughts</h1>
<!-- 	<a href="/home" 	data-icon="arrow-l">Back</a> -->
	<a href="/logout" class="ui-btn-right"	data-icon="lock">Logout</a>
	<div data-role="navbar">
		<ul>
			<li><a href="/home" 	data-icon="home">Home</a></li>
			<li><a href="/create" 	data-icon="arrow-r">Create</a></li>
			<li><a href="/friends" 	data-icon="comment">Friends</a></li>
			<li><a href="/profile" 	data-icon="user">Profile</a></li>
			
		</ul>
	</div>
