
<header class="main">
		<h1 class="logo"><a href="." class="ss-list">Happy Thoughts</a></h1>
		<a href="#menu" class="menu-trigger ss-icon">&#xED50;</a>
		<nav>
		<ul>
			<li><a href="/home">Home</a></li>
			<li><a href="/create">Create</a></li>
			<li><a href="/profile">Profile</a></li>
			<li><a href="/friends">Friends</a></li>
			<li><a href="/logout">Logout</a></li>
		</ul>
		</nav>
	</header>	
