<div class="row">
	<h1 class="well"> Create Happy Thoughts </h1>
</div>

<div class=".col-xs-12 .col-sm-4 .col-md-4 centered">

	<!--Short instructions-->
	<h4 align="center">Just answer a few questions to create your own Happy Thought!</h4>

	<hr class="hr-or">

	<form role="form">

		<!--Drop down menu allows users to select a type for their Happy Thought-->
		<div class="form-group">
			<label for="inputNewContentType">Select a category for your Happy Thought.</label>
			<select>
  				<option value="video">Video</option>
  				<option value="music">Music</option>
  				<option value="image">Image</option>
			</select>
		</div>

		<!--Textbox asks for a URL to the Happy Thought (currently assumes a link will always be present)-->
		<div class="form-group">
			<label for="inputNewContentLocation">Add a link to your Happy Thought. </label>
			<input type="text" class="form-control" id="inputNewContentLocation" placeholder="https://wwww.yourlink.com">
		</div>

		<!--Ask the user to submit name their Happy Thought-->
		<div class="form-group">
			<label for="inputNewContentTitle">What would you like to title your Happy Thought? </label>
			<input type="text" class="form-control" id="inputNewContentTitle" placeholder="Three Little Birds by Bob Marley">
		</div>

		<!--"Saves" the user's Happy Thought-->
		<div class="form-group">
			<button type="button" class="btn-lg btn-primary col-xs-4" style="margin-bottom: 30px;" onClick="saveUserContent()">Save</button>
		</div>
	</form>
</div>

<script>

	//Notify the user that their content has been "saved"
	function saveUserContent() {
		if(confirm('Your Happy Thought has been saved!')){
			//refresh the page when user clicks OK
			document.location.reload(true);
		}
	}
</script>
<!--<div class="row">
	<div class="videowrapper column-xs-6">
		<iframe class="column-xs-6" height="auto" class="img-responsive" src="//www.youtube.com/embed/zaGUr6wzyT8" frameborder="0" allowfullscreen></iframe>

	</div>
</div>

<div class"row" style="margin-top: 50px;">
	<div class="col-xs-4"></div>
	<button type="button" class="btn-lg btn-primary col-xs-4" style="margin-bottom: 30px;"> Create </button>

</div>-->

