<div class="row">
	<h1 class="well"> Create Content </h1>
</div>
<div class="row">
	<div class="videowrapper column-xs-6">
		<iframe class="column-xs-6" height="auto" class="img-responsive" src="//www.youtube.com/embed/zaGUr6wzyT8" frameborder="0" allowfullscreen></iframe>

	</div>
</div>

<div class"row" style="margin-top: 50px;">
	<div class="col-xs-4"></div>
	<button type="button" class="btn-lg btn-primary col-xs-4" style="margin-bottom: 30px;"> Create </button>

</div>


