
<div class="container">
	<div class="row">
		<h1 class="well"> Your Friends </h1>
	</div>

	<hr />

	<a href="#popupLogin" data-rel="popup" data-position-to="window" data-role="button" data-inline="true" aria-haspopup="true" aria-owns="popupLogin" aria-expanded="false" class="ui-link ui-btn" role="button">Invite a Friend</a>
<!--class="ui-link ui-btn ui-btn-inline ui-shadow ui-corner-all ui-btn-active"-->

	<div class="ui-popup-container ui-popup-active" id="popupLogin-popup" tabindex="0" style="max-width: 800px; max-height:100px">
	<!--"max-width: 700px; top: 181.90909087657928px; left: 245.5px;"-->
		<div data-role="popup" id="popupLogin" data-theme="a" class="ui-corner-all ui-popup ui-body-a ui-overlay-shadow">
			<form>
				<div style="padding:10px 20px;">
				  <h3>Invite a Friend</h3>
		          <label for="friendEmail">Your Friend's Email:</label>
		          <input type="text" name="user" id="friendEmail" value="" placeholder="example@email.com" data-theme="a">

		          <label for="inviteMessage">Invitation Message:</label>
		          <textarea class="form-control" id="inputInviteMsg" style="height: 500px">Hello!&#10;Join me on Happy Thoughts--the stress relieving app.&#10;&#10;</textarea>

<!--		    	  <button type="submit" data-theme="b" class=" ui-btn ui-btn-b ui-shadow ui-corner-all">Send Invite</button>-->
				<button type="submit" data-theme="b" class="ui-btn" id="sendFriendInvite">Send Invite</button>
		    	</div>
			</form>
		</div>
	</div>

	{{#each images}}
		<hr />
		<div class="row">
		
			<div class="col-xs-4" >
				<img src="images/{{ imageURL }}" class="img-responsive">
			</div>
		
			<div class="col-xs-offset-1 col-xs-4">
				<h2> {{name}}</h2>
			</div>

		</div>
	{{/each}}

		<div class"row" style="margin-top: 50px;">
			<div class="col-xs-2"></div>
			
		</div>
</div>
