
	<div id="content-slider-wrapper" class="container">
		<form>
			
			<!-- <div id="slider-range-min"> </div>  -->
			<input  type="range" name="slider-fill"  id="slider-fill" value="50" min="0" max="100" data-highlight="true" data-theme="a">
			<img class="happyfaces img-responsive" width="5%" style="float: left" src="images/stressedface.png" />
			<img class="happyfaces img-responsive" width="5%" style="float: right; margin-right: 10px" src="images/smiley-face.png" />

		    <fieldset data-role="controlgroup" data-type="horizontal" style="margin: 0 auto">
		 <!--        <legend>Happy Box Content Type:</legend> -->
		        <input type="checkbox" name="checkbox-h-2a" id="checkbox-h-2a">
		        <label for="checkbox-h-2a">Photos</label>
		        <input type="checkbox" name="checkbox-h-2b" id="checkbox-h-2b">
		        <label for="checkbox-h-2b">Videos</label>
		        <input type="checkbox" name="checkbox-h-2c" id="checkbox-h-2c">
		        <label for="checkbox-h-2c">Music</label>
		        <input type="checkbox" name="checkbox-h-2d" id="checkbox-h-2d">
		        <label for="checkbox-h-2d">Action</label>
		    </fieldset>
		</form>
	</div>

	<div class="container">
		<div id="content-wrapper" >

		</div><!-- /#content-happy-wrapper -->  
		<button id="next" 	class="ui-btn" type="button" onClick="document.location.reload(true);"> I Want More Happy Thoughts </button>
	
	</div>



	
