<section id="home"> 

	<div id="content-slider-wrapper" class="container">
		<img class="img-responsive row" src="images/slider-bg.png">
		<form>
			<input type="range" name="slider-fill" id="slider-fill" value="50" min="0" max="100" data-highlight="true">
		    <fieldset data-role="controlgroup" data-type="horizontal">
		        <legend>Happy Box Content Type:</legend>
		        <input type="checkbox" name="checkbox-h-2a" id="checkbox-h-2a">
		        <label for="checkbox-h-2a">Photos</label>
		        <input type="checkbox" name="checkbox-h-2b" id="checkbox-h-2b">
		        <label for="checkbox-h-2b">Videos</label>
		        <input type="checkbox" name="checkbox-h-2c" id="checkbox-h-2c">
		        <label for="checkbox-h-2c">Music</label>
		        <input type="checkbox" name="checkbox-h-2d" id="checkbox-h-2d">
		        <label for="checkbox-h-2d">Action</label>
		    </fieldset>
		</form>
	</div>


	<div id="video-wrapper" class="container">
		<iframe class="row" width="854px" height="510px" src="//www.youtube.com/embed/zaGUr6wzyT8" frameborder="0" allowfullscreen></iframe>
		<div class="ui-grid-a">
			<div  class="ui-block-a"><button id="previous" type="button"> Dislike </button></div>
			<div  class="ui-block-b"><button id="next" type="button"> Like </button></div>
		</div><!-- /grid-a -->
	</div><!-- /.row -->  

	<hr />


</section>