<!--
	<div id="content-slider-wrapper" class="container">
		<form>
			
			<div class="row">-->
			<!-- <div id="slider-range-min"> </div>  -->
<!--			<input  type="range" name="slider-fill"  id="slider-fill" value="50" min="0" max="100" data-highlight="true" data-theme="a">
			<img class="happyfaces img-responsive" width="10%" style="float: left" src="images/stressedface.png" />
			<img class="happyfaces img-responsive" width="10%" style="float: right; margin-right: 10px" src="images/smiley-face.png" />
		</div>-->

<!--		</form>
	</div>		Also commented out for A/B testing-->


	<div class=".col-xs-12 .col-sm-4 .col-md-4 centered">
		<h4 align="center">Your Stress Level: </h4>
	</div>

<!--	<div id="progressbar"></div>-->

	<div data-role="content"> </div>

	<input name="stress-progress" id="stress-progress" data-highlight="true" min="0" max="100" value="50" type="range">

	<div id="content-slider-wrapper" class="container">
		<input  type="range" name="slider-user-stress"  id="slider-user-stress" min="0" max="100" data-highlight="true" data-theme="a">
		<img class="happyfaces img-responsive" width="10%" style="float: left" src="images/stressedface.png" />
		<img class="happyfaces img-responsive" width="10%" style="float: right; margin-right: 10px" src="images/smiley-face.png" />
	</div>

<!--Code before this is commented out for A/B testing, will make a branch for this code later-->

	<!--Content-->
	<div class="container">
		<div id="content-wrapper" ></div><!-- /#content-happy-wrapper -->  
	</div>

		<!--Laura suggested that we have Like/Dislike buttons
		to show how our app would "learn" about our user's destressing preferences
		(if it was real)-->
	<div class="container">
		<div class=".col-sm-6 .col-md-5 .col-lg-6">
			<button id="like" 	class="ui-btn" type="button" onClick="document.location.reload(true);">Like</button>
		</div>
		<div class=".col-sm-6 .col-md-5 .col-md-offset-2 .col-lg-6 .col-lg-offset-0">
			<button id="dislike" 	class="ui-btn" type="button" onClick="document.location.reload(true);">Dislike</button>
		</div>
	</div>
	



	
