<div class="well">
	<img src="images/profile_default.jpg" class="img-responsive">

	<h1> John Doe </h1>

	<h3> Hello John Doe ! Your favorite content types are: </h3>
	<ul>
		<li> <h3> Challenges </h3></li>
		<li> <h3> Video 	 </h3></li>
	</ul>
</div>
		

{{#each images}}
	<div class="row">
		<h1 class="well"> Hello </h1>
	</div>
	<div class="row">

		<div class="col-xs-offset-1 col-xs-4">
			<h2> {{name}}</h2>
			<p> {{description}} </p>
			<button type="button" style="margin-top: 30px;" class="btn-lg btn-primary col-xs-12" style="margin-bottom: 30px;"> Next </button>
		</div>
	
	</div>
{{/each}}



