<div class="well">
	<img src="images/profile_default.jpg" class="img-responsive">

	<h1> John Doe </h1>

	<h3> Hello John Doe! Your favorite content types are: </h3>
	<ul>
		<li> <h3> Challenges </h3></li>
		<li> <h3> Video 	 </h3></li>
	</ul>
</div>



