
	     	 <div class="row">
	     		<h1 class="well"> Sign Up</h1>
	     	</div>


			<div class="row">

				<div class="main col-xs-offset-4 col-xs-4 centered">


				  <form role="form">
				    <div class="form-group">
				      <label for="inputFirstName">First Name</label>
				      <input type="text" class="form-control" id="inputFirstName">
				    </div>
				    <div class="form-group">
				      <label for="inputLastName">Last Name</label>
				      <input type="text" class="form-control" id="inputLastName">
				    </div>
				    <div class="form-group">
				      <label for="inputEmail">Email</label>
				      <input type="text" class="form-control" id="inputEmail">
				    </div>
				    <div class="form-group">
				      <label for="inputUserName">UserName</label>
				      <input type="text" class="form-control" id="inputUserName">
				    </div>
				    <div class="form-group">
				      <label for="inputPassword">Password</label>
				      <input type="password" class="form-control" id="inputPassword">
				    </div>
				    <div class="form-group">
				      <label for="inputPassword2">Confirm Password</label>
				      <input type="password" class="form-control" id="inputPassword2">
				    </div>
				    
				    <a href="/welcome1" class="btn btn btn-primary">
				      Sign Up
				    </a>
				  </form>

				</div>
			</div>

	</div>


