<div class="row">
	<h2 class="well"> How Stressed Are You? </h2>
</div>


	<div id="content-slider-wrapper" class="container">			 
		<div class="row">
			<div class="col-xs-2">
				<img class="happyfaces img-responsive" src="images/stressedface.png" />
			</div>

			<div class="col-xs-8">
				<input name="stress-progress" id="stress-progress" data-highlight="true" min="0" max="10" type="range" data-theme="a">
			</div>

			<div class="col-xs-2">
				<img class="happyfaces img-responsive" src="images/smiley-face.png" />
			</div>
		</div>

 		<button type="button" class="ui-btn" style="margin-bottom: 10px;" onClick="window.location = '/home'">Next</button>
 
		</form>
	</div>
