
	     	 <div class="row">
	     		<h1 class="well"> Sign Up</h1>
	     	</div>


			<div class="row">

				<div class="main col-xs-offset-4 col-xs-4 centered">
 				
 				
  <img src='http://i.imgur.com/Bbh2GBK.png' width="500" height="400" />



				  <form role="form">

				    
				    <a href="/welcome2" class="btn btn btn-primary">
				      Next
				    </a>
				  </form>

				</div>
			</div>

	</div>